@import "elements";
//general
ul {
  list-style: none;
  margin: 0 0 15px 0;
}
h1 + .container {
  margin-top: 30px;
}
input[type="radio"] {
  display: none;
}
.btn {
  a {
    color: #fff;
    &:hover {
       text-decoration: none;
    }
  }
}

.top-nav {
  margin-bottom: 15px;
}

