@import "elements";
//general
ul {
  list-style: none;
  margin: 0 0 15px 0;
}
h1 + .container {
  margin-top: 30px;
}
input[type="radio"] {
  display: none;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.btn {
  a {
    color: #fff;
    &:hover {
       text-decoration: none;
    }
  }
}

.top-nav {
  margin-bottom: 15px;
}

/*header*/
.header {
  background-color: #222222;
  img {
    width: 100px;
  }
  h2 {
    padding-right: 20px;
    color: #fff;
  }
}

.wrapper {
  margin-bottom: 40px;
}
